---
page_title: "Elastic Cloud: {{ .Name }} {{ .Type }}"
description: |-
  {{ .Description }}
---

# {{ .Type }}: {{ .Name }}

{{ .Description }}

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is not supported on this resource
