---
page_title: "Elastic Cloud: {{ .Name }} {{ .Type }}"
description: |-
  {{ .Description }}
---

# {{ .Type }}: {{ .Name }}

{{ .Description }}

## Example Usage

### Basic

{{ tffile "examples/resources/ec_deployment_elasticsearch_keystore/basic/resource.tf" }}

### Adding credentials to use GCS as a snapshot repository

{{ tffile "examples/resources/ec_deployment_elasticsearch_keystore/gcs-snapshots/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

This resource cannot be imported
