---
page_title: "Elastic Cloud: {{ .Name }} {{ .Type }}"
description: |-
  {{ .Description }}
---

# {{ .Type }}: {{ .Name }}

## Technical preview

This functionality is in technical preview and may be changed or removed in a future release.
Elastic will work to fix any issues, but features in technical preview are not subject to the support SLA of official GA features.

{{ .Description }}

## Example Usage

{{ tffile "examples/resources/ec_observability_project/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Projects can be imported using the `id`, for example:

{{ codefile "shell" .ImportFile }}

~> **Note on Credentials** The `credentials` attribute (containing `username` and `password`) is only available when the project is first created. When importing an existing project, these credentials will not be available in the Terraform state as the API does not return them on read operations.
