---
page_title: "Elastic Cloud: {{ .Name }} {{ .Type }}"
description: |-
  {{ .Description }}
---

# {{ .Type }}: {{ .Name }}

{{ .Description }}

## Example Usage

{{ tffile "examples/resources/ec_serverless_traffic_filter/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Serverless traffic filters can be imported using the `id`, for example:

{{ codefile "shell" .ImportFile }}

~> **Note on Credentials** The `credentials` attribute (containing `username` and `password`) is only available when the project is first created. When importing an existing project, these credentials will not be available in the Terraform state as the API does not return them on read operations.
