---
page_title: "Elastic Cloud: {{ .Name }} {{ .Type }}"
description: |-
  {{ .Description }}
---

# {{ .Type }}: {{ .Name }}

{{ .Description }}

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}

## Import

You can import snapshot repositories using the `name`, for example:

{{ codefile "shell" .ImportFile }}
