name: Go

on: [push, pull_request]

jobs:
  # Unit test run
  unit:
    name: Unit
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Install terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: "0.12.29"

    - name: Cache Go Modules
      uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Get dependencies
      run: make vendor
      id: modules

    - name: Linters
      run: make lint
      id: lint
    
    - name: Run unit tests
      run: make unit
      id: unit

    - name: Validate the examples
      run: make install validate-examples
      id: validate-examples
