name: Go

on: [push, pull_request]

jobs:
  # Unit test run
  unit:
    name: Unit
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.24.12
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Install terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.x.x"
        terraform_wrapper: false

    - name: Cache Go Modules
      uses: actions/cache@v5
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Get dependencies
      run: make vendor
      id: modules

    - name: Linters
      run: make lint
      id: lint

    - name: Check docs are up-to-date
      run: |
        make docs-generate
        git diff --exit-code docs/ || (echo "::error::Docs are out of date. Run 'make docs-generate' and commit the changes." && exit 1)

    - name: Check NOTICE is up-to-date
      run: |
        make notice
        git diff --exit-code NOTICE || (echo "::error::NOTICE is out of date. Run 'make notice' and commit the changes." && exit 1)

    - name: Run unit tests
      run: make unit
      id: unit

    - name: Validate the examples
      run: make install validate-examples
      id: validate-examples
