name: Go

on: [push, pull_request]

jobs:
  # Unit test run
  unit:
    name: Unit
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.24
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

    - name: Install terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.x.x"
        terraform_wrapper: false

    - name: Cache Go Modules
      uses: actions/cache@v5
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Get dependencies
      run: make vendor
      id: modules

    - name: Linters
      run: make lint
      id: lint

    - name: Run unit tests
      run: make unit
      id: unit

    - name: Validate the examples
      run: make install validate-examples
      id: validate-examples
