name: Go

on: [push, pull_request]

jobs:
  # Unit test run
  unit:
    name: Unit
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Install terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: "0.14.x"

    - name: Cache Go Modules
      uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Get dependencies
      run: make vendor
      id: modules

    - name: Linters
      run: make lint
      id: lint
    
    - name: Run unit tests
      run: make unit
      id: unit

    - name: Validate the examples
      run: make install validate-examples
      id: validate-examples

    - name: Commit generated files
      uses: EndBug/add-and-commit@v7
      with:
        branch: ${{ github.event.pull_request.base.ref }}
        message: 'Add auto-generated files'
        author_name: elasticcloudclients
        author_email: elasticcloudclients@elastic.co
